<app-nav></app-nav>

<div class="container justify-content-start">

  <div class="d-flex mx-auto col-5 input-group-lg">

    <!-- <input class="form-control me-2 note-bar" type="text" placeholder="Take a Note..." [ngStyle]="takeANoteDisplay" aria-label="note" (click)="takeNote()"> -->
    <div class="nav nav-tabs col parent" id="nav-tab" role="tablist" [ngStyle]="takeANoteDisplay">

      <div contenteditable="true" aria-multiline="true" placeholder="Take a note..." id="input_" data-bs-toggle="tab"
        href="#input" role="tab" aria-controls="input" role="textbox" class="form-control me-2 note-bar"
        aria-label="Take a note..."></div>

      <span class="icons">
        <i class="fas fa-list-ul" id="list_" data-bs-toggle="tab" href="#list" role="tab" aria-controls="list"
          aria-selected="true"></i>
        <!-- <i class="fas fa-pencil-alt"></i> -->
        <i class="far fa-image" id="image_" data-bs-toggle="tab" href="#image" role="tab" aria-controls="image"
          aria-selected="false"></i>
      </span>


    </div>

    <!-- <div [ngStyle]="tilteDisplay" class="form-control me-2 note-bar" id="titleDisplay" #titleDisplay >
      <div contenteditable="true" aria-multiline="true" placeholder="Title"
      role="textbox" class="form-control" aria-label="Title"  ></div>
      <div contenteditable="true" aria-multiline="true" placeholder="Take a Note..." id="takeANote"
      role="textbox" class="form-control" aria-label="Take a Note..." (keydown.escape)="takeANote.blur()" autofocus #takeANote ></div>

    </div> -->


    <!-- <i class="fas fa-times clear"></i> -->
  </div>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade " id="input" role="tabpanel" aria-labelledby="input_">..list.</div>

    <div class="tab-pane fade " id="list" role="tabpanel" aria-labelledby="list_">..list.</div>
    <!-- <div class="tab-pane fade" id="draw" role="tabpanel" aria-labelledby="draw">sdss...</div> -->
    <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image_">.image..</div>
  </div>
</div>
